@media (max-width : 992px) {
    .navigation a{
        display: none;
    }
    .logo{
        font-size: 2.5em;
     }
    header .icon {
        display: block;
    }

      .main h2{
        font-size: 1.5em;
        font-weight: 600;
        background-color: #eeeeee57;
     }
     .main h2 span{
        font-size: 1.7em !important;
        width: fit-content;
     }
     .main h3{
        background-color: #eeeeee57;
        margin-bottom: 20px;
     }
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
     
    }
    .avigaition a{
        padding-left:1.8em ;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
    @media(max-width:641px){
        body{
            font-size: 12px;
        }
        .main-content h2{
            font-size: 0.8em;
        }
        .main-content h3{
            font-size: 1.4em;
        }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}
